.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}
.heading_div
{
    float: none ;
    background: honeydew;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px grey;
}
.heading_div2
{
    font: 18px ;
}
.copy_right_footer{
    bottom: 0;
    position: fixed;
    background-color:#4cae4C;
    color: white;
    line-height: 3;
    width: 100%;
    font-weight: bold;
}  
canvas{
    border:5px solid wheat;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 150px;
}